<%- include('partials/head') %>

    <body>
        <div class="container">
            <%- include('partials/navbar') %>

                <div class="card text-dark bg-light mb-3 mx-auto mt-5" style="max-width: 38rem;">
                    <div class="card text-center" style="width: 38rem; ">
                        <div class="card-header"><b>You are currently viewing ...</b></div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= product.name %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Price: <%= product.price%>, -</h6>

                            <p class="card-text">Last updated: <%= product.updateDate %>
                            </p>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button class="btn btn-success btn-lg" style="min-width: 120px;">
                                    <a href="/products/<%= product._id %>/edit"
                                        style="text-decoration: none;color: white;">Edit</a>
                                </button>

                                <form action="/products/<%= product._id %>?_method=DELETE " method="POST">
                                    <button class="btn btn-danger btn-lg" style="min-width: 120px;">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('partials/footer') %>
    </body>

    </html>